#coffee{
    background-image: url(img/coffee.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
    
    
}
h1{
    font-family: 'Leckerli One', cursive;
    color: white;
    padding-top: 150px;
}
h2,h3,h5{
    color: white;
    font-family: 'Leckerli One', cursive;
}
h4,p{
    color: blue;
    font-family: 'Condiment', cursive;
    
}
nav{
    padding-left: 350px;
    background-color: black;
    backface-visibility: inherit;
   
}
a{
    padding: 20px;
}
#bun{
    padding-top: 50px;
}
#contact{
    background-color: pink;
}
#footer{
    background-color:gray;
    height: 60vh;
    text-align: center;
    padding: 50px;
}
#fb{
    font-size: 50px;
    padding: 50px;
    
    border: solid 1px green;
    cursor: pointer;
    
}